.container {
  width: 500px;
  height: 440px;
  position: absolute;
  transform: translate(-250px, -210px);
  top: 50%;
  left: 50%;
  background-color: rgb(236, 230, 230);
  padding: 40px;
  border-radius: 25px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: -10px;
}

.form-group {
  padding-top: 10px;
}

.button {
  margin-top: 30px;
  text-align: center;
}

.btn {
  width: 80px;
  margin: 0 20px;
}