<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/home.css"></link>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>Home</title>
</head>

<body>
  <header>
    <div class="has-user">
      <button class="btn btn-secondary" id="publish">Publish</button>
      <button class="btn btn-secondary" id="exit">Exit</button>
      <div class="user"></div>
    </div>
    <div class="no-user">
      <button class="btn btn-secondary" id="login">Login</button>
      <button class="btn btn-secondary" id="registar">Registar</button>
    </div>
  </header>
  <main>
    <ul class="container">
      <script type="text/template" id="story-template">
        <li class="story-item">
          <p>
            <span class="title">{{_title}}</span><span class="pushlish-info">&nbsp by {{_author}} &nbsp on {{_ctime}}</span>
            <button class="btn btn-info to-room" id = {{_id}}>to room</button>
          </p>
          <img src="{{_img}}" alt="">
          <p class="content">
            <span>{{_content}}</span>
          </p>
        </li>
      </script>
    </ul>
  </main>
  <script>
    axios.get('http://localhost:3000/getStories').then((res, err) => {
      try {
        let data = res.data.data
        let tp = document.querySelector('#story-template').innerHTML
        let html = data
          .map((item, index) => {
            let time = item.ctime.slice(0, 10) + " " + item.ctime.slice(11, 19)
            let result = tp
              .replace('{{_id}}', item._id)
              .replace('{{_title}}', item.title)
              .replace('{{_author}}', item.author)
              .replace('{{_ctime}}', time)
              .replace('{{_img}}', item.img)
              .replace('{{_content}}', item.content)
            return result
          })
          .join(' ')
        document.querySelector('.container').innerHTML = html
      } catch (err) {
        alert('数据获取失败')
      }
    })

    if (localStorage.getItem('token')) {
      document.querySelector('.no-user').style = 'display: none'
      axios.get('http://localhost:3000/getUserInfo', {
        headers: {
          'Authorization': localStorage.getItem('token')
        }
      }).then((res, err) => {
        try {
          let data = res.data.data
          document.querySelector('.user').innerHTML = '用户：' + data.account
        } catch (err) {
          alert('用户数据获取失败')
        }
      })
    } else {
      document.querySelector('.has-user').style = 'display: none'
    }

    document.querySelector('#login').onclick = () => { window.location = './login.html' }
    document.querySelector('#registar').onclick = () => { window.location = './registar.html' }
    document.querySelector('#publish').onclick = () => { window.location = './publish.html' }
    document.querySelector('#exit').onclick = () => {
      localStorage.clear()
      location.reload()
    }
    document.querySelector('.container').onclick = (e) => {
      if (localStorage.getItem('token')) {
        window.open('./room.html?id=' + e.target.id)
      } else {
        alert('请先登录账号！！')
      }
    }
  </script>
</body>

</html>