<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="/indexedDB.js"></script>
  <script src="/node_modules/axios/dist/axios.min.js"></script>
  <title>Home</title>
</head>

<body>
  <header>
    <div class="has-user">
      <button class="btn btn-secondary" id="publish">Publish</button>
      <button class="btn btn-secondary" id="exit">Exit</button>
      <div class="user"></div>
    </div>
    <div class="no-user">
      <button class="btn btn-secondary" id="login">Login</button>
      <button class="btn btn-secondary" id="register">Register</button>
    </div>
  </header>
  <main>
    <ul class="container">
    </ul>
  </main>

  <script type="text/template" id="story-template">
    <li class="story-item">
      <p>
        <span class="title">{{_title}}</span><span class="pushlish-info">&nbsp by {{_author}} &nbsp on {{_ctime}}</span>
        <button class="btn btn-info to-room" id = {{_id}}>to room</button>
      </p>
      <img src="{{_img}}" alt="">
      <p class="content">
        <span>{{_content}}</span>
      </p>
    </li>
  </script>

  <script>

    function generStoryHtml(data) {
      let tp = document.querySelector('#story-template').innerHTML
      data.sort((a, b) => {
        if (a.ctime < b.ctime) {
          return 1
        } else {
          return -1
        }
      })
      let html = data
        .map((item, index) => {
          let time = item.ctime.slice(0, 10) + " " + item.ctime.slice(11, 19)
          let result = tp
            .replace('{{_id}}', item._id)
            .replace('{{_title}}', item.title)
            .replace('{{_author}}', item.author)
            .replace('{{_ctime}}', time)
            .replace('{{_img}}', item.img)
            .replace('{{_content}}', item.content)
          return result
        })
        .join(' ')
      document.querySelector('.container').innerHTML = html
    }

    function offline() {
      document.querySelector('#login').onclick = () => { alert('No network, cannot login') }
      document.querySelector('#register').onclick = () => { alert('No network, cannot register')}
      document.querySelector('#publish').onclick = () => { alert('No network, cannot publish') }
      document.querySelector('#exit').onclick = () => {
        alert('No network, please do not quit')
      }
      document.querySelector('.user').innerHTML = 'Account：' + localStorage.getItem('account')
      openDB('StoryChat', 1).then(db => {
        cursorGetData(db, 'Story').then(data => {
          generStoryHtml(data)
        })
      })
    }

    axios.get('http://localhost:3000/getStories')
      .then((res, err) => {
        document.querySelector('#login').onclick = () => { window.location = './login.html' }
        document.querySelector('#register').onclick = () => { window.location = './register.html' }
        document.querySelector('#publish').onclick = () => { window.location = './publish.html' }
        document.querySelector('#exit').onclick = () => {
          localStorage.clear()
          location.reload()
        }
        try {
          let data = res.data.data
          openDB('StoryChat', 1).then(db => {
            data.forEach(item => {
              item.id = item._id
              updateDB(db, 'Story', item)
            });
          })
          generStoryHtml(data)
        } catch (err) {
          alert('Data acquisition failed')
        }
      })
      .catch(err => {
        offline()

      })

    if (localStorage.getItem('token')) {
      document.querySelector('.no-user').style = 'display: none'
      axios.get('http://localhost:3000/getUserInfo', {
        headers: {
          'Authorization': localStorage.getItem('token')
        }
      })
        .then((res, err) => {
          try {
            let data = res.data.data
            localStorage.setItem('account', data.account)
            document.querySelector('.user').innerHTML = 'Account：' + data.account
          } catch (err) {
            alert('User data acquisition failure')
          }
        })
        .catch(err => {
          offline()
        })
    } else {
      document.querySelector('.has-user').style = 'display: none'
    }

    document.querySelector('.container').onclick = (e) => {
      if (localStorage.getItem('token')) {
        if (e.target.id) {
          window.location = './room.html?id=' + e.target.id
        }
      } else {
        alert('Please login to your account !!!')
      }
    }


    window.addEventListener('load', function (e) {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function (registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          })
          .catch(function (err) {
            console.log('ServiceWorker registration failed: ', err);
          });
      }
    })

  </script>

</body>

</html>