<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="../js/login.js"></script> -->

</head>

<body>
  <div class="container">
    <div class="title">LOGIN</div>
    <div class="form-group">
      <label>Account :</label>
      <input type="text" class="form-control" id="account" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password : </label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="button">
      <button class="btn btn-primary" id="login">Login</button>
      <a href="./register.html"><button class="btn btn-primary" id="registar">Registar</button></a>
    </div>
  </div>
  <script>
    document.querySelector('#login').onclick = () => {
      const userData = {
        account: document.querySelector('#account').value,
        pwd: document.querySelector('#pwd').value
      }
      if (!userData.account || !userData.pwd) {
        return alert("输入信息不完全，请检查后重新输入")
      }
      axios.post('http://localhost:3000/loginUser', userData).then((res, err) => {
        if (err) {
          return alert('登录失败, 请稍后重试')
        }
        let data = res.data
        if (!data.err_code) {
          localStorage.setItem('token', data.token)
          window.location = './home.html'
        } else {
          alert('登录失败，请检查账号或密码是否正确')
        }
      })
    }
  </script>
</body>