<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/registar.css">

  <title>registar</title>
</head>
<body>
  <div class="content">
      <div class="title">REGISTAR</div>
      <div class="form-group">
        <label>Account :</label>
        <input type="email" class="form-control" id="account" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password : </label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Determine Password : </label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="button">
        <button class="btn btn-primary">Back</button>
        <button class="btn btn-primary">Registar</button>
      </div>
  </div>
</body>
