<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/room.css">
  <script src="/node_modules/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/indexedDB.js"></script>

  <title>room</title>
</head>

<body>
  <main>
    <div class="container">
      <p class="title">
        <span>{{_title}}</span>
      </p>
      <p>
        <span class="pushlish-info">&nbsp by {{_author}} &nbsp on {{_ctime}}</span>
      </p>
      <img src="{{_img}}" alt="">
      <p class="content">
        <span>{{_content}}</span>
      </p>
    </div>
    <div class="chat">
      <p class="discussion">Discussion:</p>
      <ul id="messages"></ul>
      <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
    </div>
  </main>

  <script type="text/template" id="chat-template">
    <li class="chat-item">
      <div class="chat-account">{{_account}}:</div>
      <div class="chat-content">{{_content}}</div>
    </li>
  </script>

  <script>
    let account = localStorage.getItem('account')
    let storyId = location.search.slice(4)
    let container = document.querySelector('.container')

    openDB('StoryChat', 1).then(db => {
      getDataByKey(db, 'Story', storyId).then(data => {
        let time = data.ctime.slice(0, 10) + " " + data.ctime.slice(11, 19)
        let html = container.innerHTML
          .replace('{{_id}}', data._id)
          .replace('{{_title}}', data.title)
          .replace('{{_author}}', data.author)
          .replace('{{_ctime}}', time)
          .replace('{{_img}}', data.img)
          .replace('{{_content}}', data.content)
        container.innerHTML = html
      })
    })

    let chatData = {
      id: storyId,
      content: []
    }

    openDB('StoryChat', 1).then(db => {
      getDataByKey(db, 'Chat', storyId).then(data => {
        if (!!data) {
          chatData = data
          let tp = document.querySelector('#chat-template').innerHTML
          let html = chatData.content
            .map((item, index) => {
              let result = tp
                .replace('{{_account}}', item.account)
                .replace('{{_content}}', item.content)
              return result
            })
            .join(' ')
          document.querySelector('#messages').innerHTML = html
        }
      })
    })

    function generChatHtml(msg) {
      chatData.content.push(msg)
      openDB('StoryChat', 1).then(db => {
        chatData.id = storyId
        chatData.storyId = storyId
        updateDB(db, 'Chat', chatData)
      })
      let tp = document.querySelector('#chat-template').innerHTML
      let html = tp.replace('{{_account}}', msg.account).replace('{{_content}}', msg.content)
      $('#messages').append(html);
    }

    let inp = document.querySelector('#input')
    if (navigator.onLine) {
      let socket = io('http://localhost:3000', {
        query: {
          storyId,
        }
      })
      document.querySelector('button').onclick = (e) => {
        socket.emit(`${storyId}`, JSON.stringify({ account, content: inp.value }));
        inp.value = ''
        return false
      }
      socket.on(`${storyId}`, function (_msg) {
        let msg = JSON.parse(_msg)
        generChatHtml(msg)
        return false
      });
    } else {
      document.querySelector('button').onclick = (e) => {
        let msg = { account, content: inp.value }
        generChatHtml(msg)
        inp.value = ''
        return false
      }
    }
  </script>
</body>

</html>